@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height:100%;
    overflow:auto;
    font-family:'Lato', sans-serif;
    color: black;
}

body{
    display: flex;
    text-align: center;
    flex-direction: column;
    background: url(./images/kefi-bg1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

main{
    flex: 1;
}

h1{
    font-family: 'Sail', cursive;
    font-style: normal;
    font-weight: normal;
    font-size:60px;
    margin-top: 30px;
    text-align: center;
}

h2{
    font-family: 'Pacifico', cursive;
    margin:10px;
    font-weight: normal;
    font-size: 25px;
}

.para{
    font-family: 'Montserrat', sans-serif;
    font-size:20px ;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.trial{
    margin-top: 50px;
    color: black;
    background-color: pink;
    opacity: 0.5;
    font-size: 18px;
    padding-left: 180px;
    padding-right: 180px;
}


a,button,.logo{
    cursor:pointer;
}

/* Glow Button for social media icons */
main .social{
    position:relative;
    text-align: center;
    align-items: center;
    margin-top: 25px;
}

main .social ul.social1{
    margin: 0;
    padding: 0;
    display:flex;
}

main .social ul.social2{
    margin: 0;
    padding: 0;
    display:flex;
}

main .social ul.social1 li{
    list-style: none;
    margin: 15px 15px;
}

main .social ul.social2 li{
    list-style: none;
    margin: 15px 15px;
}
main .social ul.social1 li a{
    display: inline-block;
    position: relative;
    display: block;
    width: 51px;
    height: 51px;
    text-align: center;
    line-height: 60px;
    background: black;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    transition: 0.5s;
}

main .social ul.social2 li a{
    display: inline-block;
    position: relative;
    display: block;
    width: 51px;
    height: 51px;
    text-align: center;
    line-height: 60px;
    background:black;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    transition: 0.5s;
}

main .fa-instagram .fa-facebook .fa-linkedin{
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 21px;
}
main .social ul.social1 li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ff99dd;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}

main .social ul.social2 li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ff99dd;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}

main .social ul.social1 li a:hover:before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff99dd;
}

main .social ul.social2 li a:hover:before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff99dd;
}

main .social ul.social1 li a:hover{
    color: #02bfee;
    box-shadow: 0 0 5px #ff99dd;
    text-shadow: 0 0 5px #ff99dd;
}

main .social ul.social2 li a:hover{
    color: #02bfee;
    box-shadow: 0 0 5px #ff99dd;
    text-shadow: 0 0 5px #ff99dd;
}

.fab{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.2;
}

.topnav {
    overflow: hidden;
    background-color: black;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 5px;
}
  
.topnav a {
    float: left;
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.topnav a:not(:first-child){
    float:right;
}

.topnav a:hover {
    color:white;
}

footer {
    display:block;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    background-color: black;
    color: pink;
    margin-top: 50px;
    flex-shrink: 0;
}  

footer a{
    text-decoration: none;
    color: pink;
}

.topnav .icon {
    display: none;
  }

.menu{
    display:none;
}

/*Mobile Nav*/

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .trial{
        padding-right: 15px;
        padding-left: 15px;
    }
}